body,button,input,select,textarea {
    font-family: 'Open Sans', sans-serif !important;
}
.has-background-dark a:hover {
    color: #ffffff;
}
.hero-body {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}