{{ define "main" }}
{{ $paginator := .Paginate .Pages.ByPublishDate.Reverse }}


<div class="content box">
    {{ range $paginator.Pages }}
    {{- partial "article.html" . -}}
    {{ end }}
</div>
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {{ if $paginator.HasPrev }}<a class="pagination-previous" href="{{ $paginator.Prev.URL }}">Previous</a>{{ end }}
    {{ if $paginator.HasNext }}<a class="pagination-next" href="{{ $paginator.Next.URL }}">Next</a>{{ end }}
    <ul class="pagination-list">
        {{ range $paginator.Pagers }}
        <li>
            <a class="pagination-link{{ if eq . $paginator }} is-current{{ end }}"
                aria-label="Goto page {{ .PageNumber }}" href="{{ .URL }}">{{ .PageNumber }}</a>
        </li>
        {{ end }}
    </ul>
</nav>

{{ end }}